html { 
    scroll-behavior: smooth; 
} 

body {
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1.1rem;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: left;
    background-color: #FDFDFD;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-content {
    flex-grow: 1;
}

a {
    color: #216093;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #216093;
    text-decoration: underline;
}

h1.pub-header {
    color: #216093;
}

.card {
    background-color: transparent;
}

.funding-logos {
    width: auto;
    height: 200px;
    object-fit: contain;
}

.footer-logos {
    width: auto;
    height: 50px;
    object-fit: contain;
}

.people-column {
    flex: 0 0 auto;
    width: 33.33333%;
    padding-right: 15px;
    padding-left: 15px;  
}

@media (max-width: 768px) {
    .people-column {
        flex: 0 0 auto;
        width: 50%;
}
}

@media (max-width: 576px) {
    .people-column {
        flex: 0 0 auto;
        width: 100%; 
    }
}

.people-photos {
    width: 300px;  /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    object-fit: cover; 
    margin-left: auto;
    margin-right: auto;
}

.alumni-photos {
    width: 150px;  /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    object-fit: cover; 
    margin-left: auto;
    margin-right: auto;
}

.alumni-column {
    flex: 0 0 auto;
    width: 20%;  /* Changed to 20% for 5 columns */
    padding-right: 15px;
    padding-left: 15px;  
}

@media (max-width: 768px) {
    .alumni-column {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (max-width: 576px) {
    .alumni-column {
        flex: 0 0 auto;
        width: 100%; 
    }
}